<!DOCTYPE html>
<html>
<head>
    <title>Property List</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id="header-placeholder"></div>
    <div class="container">
        <h2>Property List</h2>
        <table id="propTable">
            <thead>
                <tr>
                    <th>Serial No.</th>
                    <th>Property Name</th>
                    <th>Rent Price (₹)</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div id="footer-placeholder"></div>
    <script src="/static/script.js"></script>
</body>
</html>